.accordion {
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.08);
    border: 1px solid var(--ifm-color-emphasis-400);
}

.accordion .header {
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.2s;
    padding: 1em 1.5em;
    cursor: pointer;
    user-select: none;
}
.accordion .header:hover {
    background-color: var(--ifm-color-emphasis-100);
}
.accordion .header .icon {
    height: 2em;
    margin-right: 0.7em;
}
.accordion .header .title {
    font-size: 1.2em;
    font-weight: bold;
}
.accordion .chevron {
    margin-left: auto;
}

.accordion .content {
    max-height: 0;
    border-top: 1px solid var(--ifm-color-emphasis-200);
    transition: max-height 0.5s;
    overflow: hidden;
}
.accordion .content .wrapper {
    margin: 1em 1.5em;
}

.chevron {
    color: gray;
    display: inline-block;
    height: 1em;
    transition: transform 0.2s;
}
.chevron.right {
    transform: rotate(-90deg);
}
.chevron.down {
    transform: rotate(0deg);
}
.chevron svg {
    height: 100%;
    fill: currentColor;
}
