.config-driver {
    & > .label {
        font-size: 15px;
    }

    & > input.driver-input {
        font: inherit;
        color: var(--ifm-color-gray-900);
        font-size: 14px;
        border: none;
        margin-left: 0.5em;
        padding: 0.3em 0.6em;
        border-radius: 6px;
        background: var(--ifm-color-secondary);
        transition-property: color, background;
        transition-duration: 200ms;

        &.numeric {
            width: 60px;
        }

        &:focus {
            outline: none;
            background: var(--ifm-color-secondary-dark);
        }
    }

    & > select.driver-select {
        font: inherit;
        color: var(--ifm-color-gray-900);
        background: var(--ifm-color-secondary);
        border-radius: 6px;
        border: none;
        margin-left: 0.5em;
        padding: 0.3em 0.8em;

        & > option {
            background: white;
        }
    }
}

.driver-group,
.repeater-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .config-driver:not(:last-child) {
        margin-right: 1em;
    }
}

.group-config-driver {
    & > .label {
        font-weight: bold;
    }
}

.repeater-config-driver {
    & > .label {
        font-weight: bold;
    }

    & > .driver-repeater {
        display: flex;
        flex-direction: column;
        margin-top: 0.25em;

        & > .repeater-item {
            & > .remove {
                margin-left: auto;
            }

            &:not(:nth-last-child(2)) {
                padding-bottom: 0.2em;
                border-bottom: 1px solid var(--ifm-color-emphasis-200);
                margin-bottom: 0.2em;
            }
            &:nth-last-child(2) {
                margin-bottom: 0.3em;
            }
        }
    }
}
