html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header {
    width: 100%;
    position: relative;
    text-align: center;
    pointer-events: none;
    user-select: none;
    background: #eeeeee;
    padding-bottom: 20px;
    border-top: 2px solid #cdd5d7;
    border-bottom: 2px solid #cdd5d7;
}
header img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(calc(-50% - 100px));
}
header p {
    display: inline-block;
    margin-top: 140px;
    color: #fd3a84;

    background: linear-gradient(90deg, #ffa68d, #fd3a84);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Dosis", sans-serif;
    font-size: 2em;
}
