.chevron {
    color: gray;
    display: inline-block;
    height: 1em;
    transition: transform 0.2s;

    &.right {
        transform: rotate(-90deg);
    }
    &.down {
        transform: rotate(0deg);
    }

    svg {
        height: 100%;
        fill: currentColor;
    }
}
