html, body {
    margin: 0;
    padding: 0;
    font: 16px 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
    padding-bottom: 10vh;
    color: #313131;
    background: linear-gradient(-45deg, #e66977, #f9b7b1, #f2c1a1);
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 300;
}

main {
    margin: auto;
    text-align: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

main h1 {
    font-size: 5em;
    margin-bottom: 0.2em;
}

main h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

footer {
    position: fixed;
    bottom: 0;
    right: 1em;
    text-align: center;
    font-size: 0.8em;
}

[onclick] {
    cursor: pointer;
}

::selection {
    color: white;
    background-color: #e5968f;
}

code.hljs {
    padding: 0.8em 1.2em;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 95vw;
    margin: auto;
}

.controls {
    margin: 2em 0 0;
}

.button {
    display: inline-block;
    cursor: pointer;
    margin: 2px;
    padding: 6px 12px 8px;
    color: inherit;
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 0 -2px inset rgb(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 0.9em;
    text-decoration: none;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: rgb(255, 255, 255, 0.8);
}

.button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.button[soon]:after {
    content: "(coming soon!)";
    margin-left: 0.2em;
    font-size: 0.75em;
}

.sp-button {
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1em;
}